
*{
    border: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    /* background-color: #622BEE; */
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 50px;
}
.gem-button{
    background-color: white;
    padding: 2px 8px;
    border-radius: 43px;
}
.slider{
    background-color: #622BEE;
    height: 80%;
    padding-bottom: 100px;
}
.continue-button{
    text-decoration: none;
    color: white;
    padding: 15px 7px 15px 40px;
    background-image: linear-gradient(#ff136f, #ff589b);
    border-radius: 25px;
}
.continue-button:hover{
    background-image: linear-gradient(#ff589b,#ff136f);
    color: white;
}
.arrow{
    color: #ff589b;
    background-color: white;
    margin-left: 20px;
    padding: 10px 15px;
    border-radius: 25px;
    font-size: 18px;
}
.next-batch{
    box-shadow: 0px 0px 5px rgb(128 128 128 / 39%);
    position: absolute;
    left: 20%;
    top: 632px;
    background-color: white;
}
.next-batch{
    margin: 0 auto;
    padding: 20px;
    border-radius: 20px;
    width: 1000px;
}
.font-bold{
    font-weight: 900;
}
.registration-button{
    background-image: linear-gradient(#5B04DF, #643AF3);
    padding: 14px 7px 18px 40px;
    border-radius: 30px;
    width: 100%;
}
.registration-text{
    font-weight: 700;
    font-size: 15px;
}
.button-margin{
    margin-left: 131px;
}
.icon{
    font-size: 15px;
    color: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 3px;
}
.fa-hourglass-start{
    background-color: #6746F8;
    
}
.fa-bookmark{
    background-color: #FA735D;
}
.ball2{
    background-color: #FFC220;
}
.fa-tv{
    background-color: #FF2A85;
}
.course-detail{
    margin-top: 350px;
    
}
.batch5-video{
    box-shadow: 0px 0px 10px rgb(128 128 128 / 39%);
    padding: 25px;
    border-radius: 15px;
    height: 530px;
}
.batch5-video img{
    border-radius: 10px;
    width: 100%;
}
.enrollment-button{
    background-image: linear-gradient(#684efb .01%, #5a00dd 100.01%);
    color: white;
    font-size: 17px;
    font-weight: 500;
    border-radius: 10px;
}
.fa-check{
    background-color: #FF6347;
    color: white;
    padding: 2px;
    border-radius: 3px;
}
.check-mark-text{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-gap: 25px;
    align-content: center;
}
.fa-play2, .fa-book, .fa-pen{
    font-size: 8px;
    background-color: hotpink;
    color: white;
    padding: 7px;
    border-radius: 10px;
}
.v-play-button{
    position: absolute;
    top: 1321px;
    left: 453px;
    color: white;
    background-image: linear-gradient(#FB6253, #F59A72);
    padding: 17px;
    border-radius: 50px;
    font-size: 25px;
}
footer{
    background-color: #622EEF;
    padding-bottom: 10px;
}
.footer-logo img{
    width: 72%;
}
.footer-font{
    font-size: 17px;
    font-weight: 500;
}
.footer-link{
    text-decoration: none;
    color: white;
    font-size: 17px;
    font-weight: 500;
    list-style: none;
    display: block;
    margin-bottom: -15px;
}
.footer-link:hover{
    color: white;
    text-decoration: underline;
}